<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div>
            입력값(true, false) : <input type="checkbox" v-model="msg1"/>
        </div>
        <div> 결과 : {{msg1}}</div>
        <hr>
        <!-- 내가 원하는 값으로 지정하고 싶을 때 -->
        <div>
            입력값(참, 거짓) : <input type="checkbox" v-model="msg2" true-value="참"
                false-value="거짓"/>
        </div>
        <div> 결과 : {{msg2}}</div>

        <hr>
        <div>
            <label><input type="checkbox" v-model="msglist" value="철수"/>철수</label>
            <label><input type="checkbox" v-model="msglist" value="영희"/>영희</label>
            <label><input type="checkbox" v-model="msglist" value="영수"/>영수</label>
        </div>
        <div> {{msglist}}</div>

        <hr>
        <!-- radio 는 1개 -->
        <div>
            <label><input type="radio" v-model="rdomsg" value="철수"/>철수</label>
            <label><input type="radio" v-model="rdomsg" value="영희"/>영희</label>
            <label><input type="radio" v-model="rdomsg" value="영수"/>영수</label>
        </div>
        <div> {{rdomsg}}</div>

        <hr>
        <!-- 반복문 돌려서 자동으로 radio 만들기 -->
        <div v-for="data in rdolist">
            <label><input type="radio" v-model="rdomsg2" :value="data"/>{{data}}</label>
        </div>
        <div> {{rdomsg2}}</div>
    </div>

    <script>
        const { createApp } = Vue
        createApp({
            data(){
                // ""은 기본값 정의
                return { msg1 : true ,
                    msg2 : "거짓",
                    msglist : ["영수"],
                    rdomsg : "영수",
                    rdolist: ["철수", "영희", "영수", "철이"],
                    rdomsg2: "철이"
                }
            }
        }).mount("#app")
    </script>
</body>

</html>